@model HomeDto
@{ 
    ViewData["Title"] = "Index";
}


<!-- Main start -->

@*<section id="hero">
    <div class="hero-image">
        <img style="width: 100%;" src="~/assets/image/1_5lyavS59mazOFnb55Z6znQ.png" alt="">
    </div>
</section>*@

<section id="hero" class="hero mt-5" style="background: url('./assets/image/herobackgroundimg.jpg') center/cover no-repeat fixed;">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">

                <div class="hero_title">
                    New movies in cinema
                </div>

                <div id="hero_owl" class="owl-carousel owl-theme">

                    @foreach (var movie in Model.OwlMovies)
                    {
                        <div class="item">
                            <div class="item-raiting">@movie.ImdbPoint</div>
                            <div class="item-img">
                                <img src="~/assets/image/@movie.PosterUrl" alt="">
                                <a asp-controller="Movie" asp-action="Detail" asp-route-id="@movie.Id" class="item-play">
                                    <i class="bi bi-play-fill"></i>
                                </a>
                            </div>

                            <div class="item-content">
                                <a href="#" class="item-name">@movie.MovieName</a>
                                @foreach (var item in movie.MovieCategories)
                                {
                                    <a class="item-genre">
                                        @item.Category.CategoryName
                                    </a>
                                }
                            </div>
                        </div>
                    }

                </div>
            </div>
        </div>
    </div>
</section>





<!-- Tabs start -->

<section id="tabs">

    

    <div class="tab_header">
        
        <ul class="nav nav-pills mb-3 justify-content-center" id="pills-tab" role="tablist">
            <li class="nav-item" role="presentation">
                <a class="nav-link active" id="pills-today-tab" data-toggle="pill" href="#pills-today" role="tab" aria-controls="pills-home" aria-selected="true">Movies</a>
            </li>
            @*<li class="nav-item" role="presentation">
                <a class="nav-link" id="pills-schedule-tab" data-toggle="pill" href="#pills-schedule" role="tab" aria-controls="pills-profile" aria-selected="false">Schedule</a>
            </li>*@
            <li class="nav-item" role="presentation">
                <a class="nav-link" id="pills-cinema-tab" data-toggle="pill" href="#pills-cinema" role="tab" aria-controls="pills-profile" aria-selected="false">Cinema</a>
            </li>
            <li class="nav-item" role="presentation">
                <a class="nav-link" id="pills-category-tab" data-toggle="pill" href="#pills-category" role="tab" aria-controls="pills-profile" aria-selected="false">Category</a>
            </li>

        </ul>
    </div>

    <div class="tab_body">
        <div class="tab-content" id="pills-tabContent">
            <div class="tab-pane fade show active" id="pills-today" role="tabpanel" aria-labelledby="pills-home-tab">
                <div class="today_list tab_list show active">
                    <div class="container">
                        <div style="justify-content: space-between;" class="filter_blocks mobile_hide">

                            <div>
                                <div class="filter_block">
                                    <button class="form-control selected" id="filter"> Apply Filter </button>
                                </div>

                                <div class="filter_block">
                                    <select class="form-control selected" id="SelectCinemas">
                                        <option value="all">Kinoteatrlar</option>
                                        @foreach (var item in Model.Cinemas)
                                        {

                                            <option value="@item.Id">
                                                @item.CinemaName
                                            </option>

                                        }
                                    </select>
                                </div>

                                <div class="filter_block">
                                    <select class="form-control selected" id="SelectLanguages">
                                        <option value="all">Filmin dili</option>
                                        @foreach (var item in Model.Languages)
                                        {
                                            <option value="@item.Id">
                                                @item.Lang
                                            </option>
                                        }
                                    </select>
                                </div>
                            </div>

                            <div class="d-flex justify-content-end h-100">

                                <form method="get" asp-action="Index" class="searchbar">
                                    <input class="search_input" type="text" name="moviesearch" placeholder="Search movie...">
                                    <button type="submit" class="search_icon">
                                        <i class="fas fa-search"></i>
                                    </button>

                                </form>

                            </div>

                        </div>


                        <div class="catalog catalog--list">
                            <div class="container">
                                <div class="row">
                                    <div class="col-12">
                                        <div id="Movies" class="row row--grid">
                                            <partial name="_MoviePartial" model="Model.Movies" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- </div> -->
                    </div>
                </div>


            </div>
            <div class="tab-pane fade" id="pills-schedule" role="tabpanel" aria-labelledby="pills-profile-tab">
                @*<div class="schedule_list tab_list">

                    <div class="container">

                        <div class="filter_blocks mobile_hide">

                            <div class="filter_block">

                                <select class="form-control selected" id="exampleFormControlSelect1">
                                    <option>03.03.2022</option>
                                    <option>04.03.2022</option>
                                    <option>05.03.2022</option>
                                    <option>06.03.2022</option>
                                    <option>07.03.2022</option>
                                </select>

                            </div>

                            <div class="filter_block">
                                <select class="form-control selected" id="exampleFormControlSelect1">
                                    <option>Kinoteatrlar</option>
                                    <option>Kinoteatrlar</option>
                                    <option>28 Mall</option>
                                    <option>Ganjlik Mall</option>
                                    <option>Deniz Mall</option>
                                    <option>Azerbaijan Cinema</option>
                                    <option>Amburan Mall</option>
                                    <option>Sumqayıt</option>
                                    <option>Khamsa Park (Ganja)</option>
                                    <option>Ganja Mall (Ganja)</option>
                                    <option>Şamaxı</option>
                                </select>
                            </div>

                            <div class="filter_block">
                                <select class="form-control selected" id="exampleFormControlSelect1">
                                    <option>Filmin dili</option>
                                    <option>Bütün dillərdə</option>
                                    <option>Azərbaycanca</option>
                                    <option>Ha pyccкoм</option>
                                    <option>In English</option>
                                    <option>Türkçe</option>
                                </select>
                            </div>
                        </div>

                        <div class="table-responsive">
                            <table class="table table-hover table-dark">
                                <thead>
                                    <tr>
                                        <th scope="col">Film</th>
                                        <th scope="col">Seans</th>
                                        <th scope="col">Kinoteatr</th>
                                        <th scope="col">Zal</th>
                                        <th scope="col">Format</th>
                                        <th scope="col">Dil</th>
                                        <th scope="col">Qiymet</th>


                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <th>SpiderMan</th>
                                        <td>17 : 00</td>
                                        <td>
                                            <a class="table_link">Ganjlik Mall</a>
                                        </td>
                                        <td>Zal1</td>
                                        <td>
                                            <img style="width:55px;height: 50px;" src="~/assets/image/ni_twod.png" alt="">
                                        </td>
                                        <td>
                                            <img style="width:55px;height: 50px;" src="~/assets/image/ni_tur.png" alt="">
                                        </td>
                                        <td>8.00 AZN</td>

                                    </tr>


                                </tbody>
                            </table>
                        </div>

                    </div>

                </div>*@
            </div>
            <div class="tab-pane fade" id="pills-cinema" role="tabpanel" aria-labelledby="pills-profile-tab">
                <div class="cinema_list tab_list mt-3">

                    <div class="container">

                        <div class="row">

                            @foreach (var cinema in Model.Cinemas)
                            {
                                <div class="col-12 col-sm-6 col-lg-4 col-xl-3 mt-3">
                                    <a asp-controller="Cinema" asp-action="Detail" asp-route-id="@cinema.Id" class="cinema">
                                        <div class="category__cover">
                                            <img src="~/assets/image/@cinema.CinemaPosterURL" alt="Alternate Text" />
                                        </div>
                                        <h3 class="category__title">@cinema.CinemaName</h3>
                                        @*<span class="category__value">322</span>*@
                                    </a>
                                </div>
                            }



                        </div>


                    </div>

                </div>
            </div>
            <div class="tab-pane fade" id="pills-category" role="tabpanel" aria-labelledby="pills-profile-tab">
                <div class="category_list tab_list">

                    <div class="container">

                        <div class="row">

                            @foreach (var category in Model.Categories)
                            {
                                <div class="col-12 col-sm-6 col-lg-4 col-xl-3">
                                    <div href="category.html" class="category">
                                        <div class="category__cover">
                                            <img src="~/assets/image/@category.CategoryImageURL" alt="Alternate Text" />
                                        </div>
                                        <h3 class="category__title">@category.CategoryName</h3>
                                        @*<span class="category__value">322</span>*@
                                    </div>
                                </div>
                            }


                        </div>


                    </div>

                </div>
            </div>


        </div>
    </div>
</section>


<!-- Tabs end -->
<!-- Parallax start -->

<section id="parallax">
    <div class="parallax_image">
        <!-- <img  src="~/assets/image/The-Best-Movies-Trilogies-Of-All-Time.jpg" alt=""> -->

        <div class="container h-100">
            <div class="parallax_content h-100">
                <h2>Cinema De Reverie</h2>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla, dicta!
                </p>
            </div>
        </div>


    </div>
</section>
<!-- Parallax end -->
<!-- Testimonial start -->

<section id="testimonial">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div id="testimonial-slider" class="owl-carousel">


                    @foreach (var news in Model.News)
                    {
                        <div class="testimonial">
                            <div class="testimonial-content">
                                <div class="testimonial-icon">
                                    <i class="fa fa-quote-left"></i>
                                </div>
                                <p class="description">
                                    @news.Content
                                </p>
                            </div>
                            <h5 style="font-size:15px;" class="title">@news.NewsDate</h5>
                            
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>

</section>

<!-- Testimonial end -->
<!-- Main end -->